body {
  margin-top: 100px;
}

.container, .container1, .container2 {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: auto;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 15px;
  font-size: 18px;
  font-weight: 200;
}

div {
  width: 220px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container div:nth-child(1) {background-color: rgb(113, 113, 238);}
.container div:nth-child(2) {background-color: rgb(238, 180, 113);}
.container div:nth-child(3) {background-color: rgb(153, 238, 113);}

.container1 div:nth-child(1) {background-color: rgb(253, 110, 217);}
.container1 div:nth-child(2) {background-color: rgb(113, 207, 238);}
.container1 div:nth-child(3) {background-color: rgb(238, 251, 94);}

.container2 div:nth-child(1) {background-color: rgb(230, 238, 113);}
.container2 div:nth-child(2) {background-color: rgb(106, 235, 70);}
.container2 div:nth-child(3) {background-color: rgb(168, 76, 169);}
