body{ 
  font-family: "Quicksand", sans-serif;
  background: #aaa9a9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  margin: 30px auto 0;
  margin-top: 150px;
}

.div1 {
  width: 160px;
  height: 30px;
  background-color: rgb(30, 30, 30);
}

.div1:nth-child(1) {margin-left: 180px;}
.div1:nth-child(2) {background: transparent;}
.div1:nth-child(3) {margin-left: 60px;}
.div1:nth-child(4) {background: transparent;}
.div1:nth-child(5) {margin-left: -70px;}

.div1:nth-child(7) {margin-left: 210px;}
.div1:nth-child(8) {margin-left: 140px; background: rgb(252, 60, 156);}
.div1:nth-child(9) {margin-left: 70px;}
.div1:nth-child(10) {margin-left: 0px; background: rgb(0, 128, 83);}
.div1:nth-child(11) {margin-left: -70px;}

p {
  font-size: 19px;
  margin-bottom: 90px;
  margin-top: 30px;
}
