body {
  background-color: rgb(250, 234, 205);
  margin-top: 200px;
}

.container, .container1 {
  width: 720px;
  height: 50px;
  background-color: rgb(253, 21, 160);
  margin: auto;
}

.container1 {background-color: orangered;}

p {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  word-spacing: 4px;
  color: rgb(66, 65, 65);
  margin-bottom: 60px;
}

.container2 {
  display: flex;
  justify-content: center;
}

.container2 div {
  width: 72px;
  height: 50px;
}

.container2 div:nth-child(1) {background-color: rgb(86, 7, 54);}
.container2 div:nth-child(2) {background-color: rgb(130, 10, 82);}
.container2 div:nth-child(3) {background-color: rgb(175, 15, 111);}
.container2 div:nth-child(4) {background-color: rgb(222, 18, 141);}
.container2 div:nth-child(5) {background-color: rgb(253, 21, 160);}

.container2 div:nth-child(6) {background-color: orangered;}
.container2 div:nth-child(7) {background-color: rgb(250, 87, 28);}
.container2 div:nth-child(8) {background-color: rgb(251, 112, 62);}
.container2 div:nth-child(9) {background-color: rgb(251, 145, 106);}
.container2 div:nth-child(10) {background-color: rgb(251, 166, 136);}
